@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

a{
	color: white;
}

body{
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	width: 1080px;
	height: 1920px;
	//overflow: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
}

header
{
	height: 13%;
	background-color: #ffffff;
}

header .logo {
	text-align: center;
	float: left;
	padding: 0 0 0 30px;
}

header .logo img {
	width: 350px;
}


nav {
	height: 60px;
	background-color: #FF6600;
}

nav .nav-language {
	float: right;
	text-align: center;
}

nav .nav-language button {
	border-radius: 25px;
	font-size: 25px;
	border: solid #ffffff;
	width: 130px;
	margin: 5px 10px 2px 0;
	padding: 5px;
}



.main-content {
	background-image: url("../assets/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 60%;
	border-bottom: solid;
	border-bottom-color: #212121;
}

.main-content .main-menu-matrix {
	width: 100%;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 100px;
}

.main-menu-matrix table {
	width: 100%;
}

.main-menu-matrix table button {
	margin-bottom: 150px;
	//background-color:  #0068B3;
	background-color:  #FF6600;
	width: 250px;
	height: 250px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	border: solid;
	border-color: white;
}

.main-menu-matrix table button img {
	width: 140px;
}

.main-menu-vote{
	padding-top: 30px;
	width: 100%;
	height: 400px;
	text-align: center;
	//background-color: #fff;
	//background-color: rgba(255,255,255,0.5);
}

.main-menu-vote .warning-message {
	//background-color: #FF6600;
	background-color: red;
	height: 350px;
	animation: random 15s infinite;
	width: 100%;
}

@keyframes  random {
	70% { background-color: white; }
}

.main-menu-vote .warning-message h1 {
	animation: random1 15s infinite;
	color: white;
	font-weight: bold;
	width: 70%;
	padding-top: 10px;
	padding-left: 15px;
	font-size: 55px;
	text-align: left;
	float: left;
}

@keyframes  random1 {
	70% { color: red; }
}

.main-menu-vote .warning-message .img {
	width:30%;
	padding: 10px;
	float: right;
}





.main-menu-vote table {
	width: 100%;
	height: 300px;
}

.main-menu-vote .vote-title {
	font-size: 60px;
}

.main-menu-vote table button {
	background-color: transparent;
	border: transparent;
	height: 100%;
}

.main-menu-vote table button p {
	margin: -48px 0 10px;
	font-size: 30px;
	color: #5cb85c;
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
}

.main-menu-vote table button img {
	width: 200px;
}

.concessionaires {
	height: 80px;
	width: 100%;
	background-color: #FF6600;
	margin-top: 25px;
	text-align: center;
}

.concessionaires p {
	padding: 10px;
	font-size: 40px;
	font-stretch: ultra-expanded;
	font-feature-settings: on;
}


footer {
	height: 20%;
	width: 100%;
}

footer img {
	width: 100%;
}


.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
.slideshow-container {
max-width: 1000px;
	height: 100%;
	position: relative;
	margin: auto;
}

.date-time{
	float: right !important;margin-top: 20px;float: right;text-align: center;font-size: 30px;color: black;
}

a.button {
	/* styles for button */
	margin:10px auto 0 auto;
	text-align:center;
	display: block;
	width:100px;
	padding:  10px ;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-size: 30px;

	/* button color */
	background-color: #b92c28;

	/* css3 implementation :) */
	/* rounded corner */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

	/* text shaow */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;

}


#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px;
	padding:0;
	height:50px;
}

#dialog-box .dialog-content {
	/* style the content */
	max-height: 1200px;
	overflow: hidden;
	text-align:left;
	padding:10px;
	margin:13px;
	color:#666;
	font-family:arial;
	font-size:11px;
}

#dialog-overlay {

	/* set it to fill the whil screen */
	width:100%;
	height:100%;

	/* transparency for different browsers */
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background:#000;

	/* make sure it appear behind the dialog box but above everything else */
	position:absolute;
	top:0; left:0;
	z-index:3000;

	/* hide it by default */
	display:none;
}

#dialog-box {

	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	/* css3 border radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */
	width:850px;


	/* make sure it has the highest z-index */
	position:absolute;
	top: 20% !important;
	z-index:5000;

	/* hide it by default */
	display:none;
}

#appcity{
	font-weight: bold;
	 font-size: 25px;
}
#content_air,#content_date,#condition{
	font-size: 20px;
}
#temp{
	font-size: 25px;
	 font-weight: bold;
}