@charset "utf-8";
/* CSS Document */

body {
	
}

div.main {
	/*(background-image: url("../Image/Bkgrd2.jpg");*/
	/*background-repeat: no-repeat;*/
	    height: 1060px;
	    background-color: #d04242;
	    /*background: url(../Images/bg-body.gif);*/
}

#slider img{height:600px;}

div.setting {
	padding: 46px;
	height: 120px;
	width: 150px;
	height: 120px;
}
.header{height: 315px;width: 1080px;background: url(../image/header-bg.png) #ffffff;
    background-position: right;
    min-height: 167px;
    border-bottom: 4px solid #5f5f5f;
}